body {
    background-color:burlywood;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-weight: bold;
    color:rgb(187, 156, 116);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/* background-color:rgb(24, 19, 12);*/

footer {
    background-color: rgb(24, 19, 12);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

h1 {
    margin-top: -5px;
    text-align: center;
    font-size: 100px;
}

h3 {
    margin-top: -60px;
    text-align: center;
    color: rgb(49, 46, 43);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

legend {
    text-align: center;
    text-transform:uppercase;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    color: rgb(49, 46, 43);
}

p {
    text-align: center;
}

.titulo {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.quieresf {
    text-align: center;
    border-color:rgb(24, 19, 12);
    border-style:dashed;
    border-radius: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

.submit {
    text-align: center;
    margin-top: 20px;
}

.debobo {
    color: rgb(49, 46, 43);
}

label {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(49, 46, 43);
}

.loco {
    display: inline-block;
}

.menu {
    background-color:rgb(24, 19, 12);
    padding: 10px 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px 15px;
}

.menu a {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(187, 156, 116);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.right {
    margin-left: auto; /* Empuja el elemento a la derecha */
}